.mainContainer {
  background-position: 0px 30px;
  background-repeat: no-repeat;
}
.calc-bg .enyo-bg {
  background-color: transparent; 
}
.enyo-input-input {
  color: #eee;
}
.enyo-input-focus .enyo-input-input {
  color: #666;
}
.hidden {
  display: none;
}
.calcheader {
  font-size: 12px;
  min-height: 30px !important;
  height: 30px;
}
.calcheader .enyo-header-inner {
  padding: 5px 15px;
}
.operationsArea {
  padding-left: 12px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 9px;
  background-repeat: no-repeat;
}
.operationsArea .buttons {
  padding: 5px;
  margin-top: 1px;  
  margin-left: 5px;  
}
.operationsArea .calcbutton {
  width: 95px;
  height: 85px;
}
.display {
  font-family: verdana;
  font-size: 20px;
  padding: 5px;
  position: relative;
  top: 6px;
  left: 8px;
  height: 70px;
  width: 485px;
}
.display span {
  display: block;
  float: right;
}
#displayVal {  
  position: relative;
  top: 15px;
  right: 75px;
  font-size: 26px;
  font-weight: bold;
  color: #999;
}
.tapeScroller {
  background-repeat: no-repeat;
}
.tapeShim {
  width: 100%;
  min-height: 100%;
  display: table;
}
.tapeShim div {
  padding-left: 10px;
  padding-right: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.scrollingArea {
  float: right;
  width: 100%;
  padding: 20px;
}
.scrollingArea div {
  text-align: right;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.scrollingArea div div {
  text-align: right;
}
.operation {
  color: red;
}
.setTotal {
  color: #16b812 !important;
  padding-bottom: 15px;
}
.equalsDivider {
  border: solid 1px black;
  display: block;
  height: 1px;
  background-color: black;
}
.completedSet {
  position: relative;
  display: block;
  border-bottom: dashed 1px green;
}
#memDiv {
  position: absolute;
  top: 5px;
  left: 15px;
  font-weight: bold;
  font-size: 12px;
  color: orange;
  z-index: 10;
}
#memDiv span {
  font-size: 10px;
  padding-left: 5px;
  color: #666;
  font-weight: normal;
}
.alertPrefContainer {
  height: 30px;
}
.alertPrefContainer div {
  float: left;
}
.alertPrefText {
  font-size: 12px;
  padding: 7px;
  padding-left: 20px;
}
.backspaceBtn {
  background-color: rgb(100,100,100);
  opacity: 0.5;
  position: absolute;
  top: 55px;
  right: 30px;
}