@font-face {
  font-family: 'LCD';
  src: url(../fonts/LCDMonoWinTT/LCDM2N__.TTF);
}
.hidden {
  display: none;
}
.calcheader {
  font-size: 12px;
  min-height: 30px !important;
  height: 30px;
}
.calcheader .enyo-header-inner {
  padding: 5px 15px;
}
.operationsScroller {
  background-image: url(../images/skins/touchpad1/left_large_tile_2.png);  
}
.operationsArea {
  padding-left: 12px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 9px;
  background-image: url(../images/skins/touchpad1/full_off_2.png);
  background-repeat: no-repeat;
}
.operationsArea .buttons {
  padding: 5px;
  margin-top: 1px;  
  margin-left: 5px;  
}
.operationsArea .calcbutton {
  width: 95px;
  height: 85px;
}
/* rows -------------------------------------*/
/*.operationsArea .calcbutton.row2 {
  background-position-y: -86px;
}
.operationsArea .calcbutton.row3 {
  background-position-y: -172px;
}
.operationsArea .calcbutton.row4 {
  background-position-y: -258px;
}
.operationsArea .calcbutton.row5 {
  background-position-y: -344px;
}
/* columns -----------------------------------*/
/*.operationsArea .calcbutton.col2 {
  background-position-x: -95px;
  width: 94px;
}
.operationsArea .calcbutton.col3 {
  background-position-x: -189px;
  width: 93px;
}
.operationsArea .calcbutton.col4 {
  background-position-x: -283px;
  width: 95px;
}
.operationsArea .calcbutton.col5 {
  background-position-x: -379px;
}*/
.display {
  font-family: verdana;
  font-size: 20px;
  padding: 5px;
  position: relative;
  top: 6px;
  left: 8px;
  height: 70px;
  width: 485px;
}
.display span {
  display: block;
  float: right;
}
#displayVal {  
  position: relative;
  top: 15px;
  right: 30px;
  font-size: 28px;
  font-weight: bold;
  text-shadow:0px -1px 0px rgba(0,0,0, .6), 1px 1px 2px rgba(255,255,255, 0.6);
  color: #999;
}
.scrollingArea {
  float: right;
  width: 100%;
  padding: 20px;
  background-image: url(../images/skins/touchpad1/tile_light_2.png);
}
.scrollingArea div {
  text-align: right;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.scrollingArea div div {
  text-align: right;
}
.operation {
  color: red;
}
.setTotal {
  color: #16b812 !important;
  padding-bottom: 15px;
}
.equalsDivider {
  border: solid 1px black;
  display: block;
  height: 1px;
  background-color: black;
}
.completedSet {
  position: relative;
  display: block;
  border-bottom: dashed 1px green;
}
#memDiv {
  position: absolute;
  top: 5px;
  left: 15px;
  font-weight: bold;
  font-size: 12px;
  color: orange;
  text-shadow:0px -1px 0px rgba(0,0,0, .6), 1px 1px 2px rgba(255,255,255, 0.6);
  z-index: 10;
}
#memDiv span {
  font-size: 10px;
  padding-left: 5px;
  color: #666;
  text-shadow: none;
  font-weight: normal;
}